*.cachefile
*.suo
*.user
desktop.ini


/poly2depth/poly2depth/bin
/poly2depth/poly2depth/obj
/poly2depth/poly2depthContent/bin
/poly2depth/poly2depthContent/obj

/SkinnedModel/bin
/SkinnedModel/obj

/SkinnedModelPipeline/bin
/SkinnedModelPipeline/obj

/test/bin
/test/obj
